@model DataLayer.Models.BlogComment
@using MyBlogCMS.Utilities
@{
    ViewBag.Title = "Delete";
}

<h2 class="alert alert-danger">آیا از حذف نظر کاربر مطمئن هستید ؟</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Blog.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Blog.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Website)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Website)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Model.CreateDate.ConvertToShamsi()
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-danger" />
            <a class="btn btn-success m-1" href="@Url.Action("Index","BlogComments")">بازگشت</a>
        </div>
    }
</div>
