@model DataLayer.Models.Slider
@using MyBlogCMS.Utilities
@{
    ViewBag.Title = "Details";
}

<h2>جزئیات اسلایدر</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>

        <dd>
            <img src="~/Images/Sliders/@Model.ImageName" class="img-thumbnail" width="100" height="100" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Model.StartDate.ConvertToShamsi()

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Model.EndDate.ConvertToShamsi()

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.YesNo(Model.IsActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("ویرایش", "Edit", new { id = Model.SlideID }) |
    @Html.ActionLink("بازگشت", "Index")
</p>
